workflows/content-agent.json
{
  "name": "content-agent",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "When clicking Test workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/prompts/brand-voice-system.md",
        "options": {}
      },
      "id": "rv111111-rv11-rv11-rv11-rv1111111111",
      "name": "Read brand voice",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/prompts/topics.json",
        "options": {}
      },
      "id": "rt222222-rt22-rt22-rt22-rt2222222222",
      "name": "Read topics",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Read the file binary from the upstream Read brand voice node and\n// convert to UTF-8 text. n8n's helper handles whatever internal storage\n// mode the binary is using (memory, filesystem, S3).\n\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst systemPrompt = buf.toString('utf-8');\n\nreturn [{ json: { systemPrompt } }];"
      },
      "id": "ev111111-ev11-ev11-ev11-ev1111111111",
      "name": "Extract brand voice text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Read the topics.json binary from the upstream Read topics node,\n// convert to UTF-8 text, parse as JSON. Output: $json is the parsed\n// { renter: [...], owner: [...], service: [...] } object.\n\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst allTopics = JSON.parse(buf.toString('utf-8'));\n\nreturn [{ json: allTopics }];"
      },
      "id": "et111111-et11-et11-et11-et1111111111",
      "name": "Extract topics JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Day-of-week language rotation with weekly random shuffle.\n// Same week → same Mon-Sun pattern; new week → fresh pattern.\n// Weekly distribution: 3 ru + 2 ro + 2 en (43% / 29% / 29%).\n// Seed: ISO year × 100 + ISO week number, so the rotation is deterministic\n// per week but unpredictable across weeks.\n\nconst now = new Date();\n\nfunction getISOWeek(d) {\n  const date = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));\n  date.setUTCDate(date.getUTCDate() + 4 - (date.getUTCDay() || 7));\n  const yearStart = new Date(Date.UTC(date.getUTCFullYear(), 0, 1));\n  return Math.ceil((((date - yearStart) / 86400000) + 1) / 7);\n}\n\nconst weekNum = getISOWeek(now);\nconst year = now.getUTCFullYear();\nconst seed = year * 100 + weekNum;\n\n// Seeded PRNG (mulberry32) — deterministic for a given seed.\nfunction mulberry32(s) {\n  return function () {\n    let t = s += 0x6D2B79F5;\n    t = Math.imul(t ^ t >>> 15, t | 1);\n    t ^= t + Math.imul(t ^ t >>> 7, t | 61);\n    return ((t ^ t >>> 14) >>> 0) / 4294967296;\n  };\n}\n\nconst rng = mulberry32(seed);\n\n// Weekly slot pool: 3 ru + 2 ro + 2 en = 7 days.\nconst pool = ['ru', 'ru', 'ru', 'ro', 'ro', 'en', 'en'];\n\n// Fisher-Yates shuffle with seeded RNG → same week always shuffles the same way.\nfor (let i = pool.length - 1; i > 0; i--) {\n  const j = Math.floor(rng() * (i + 1));\n  [pool[i], pool[j]] = [pool[j], pool[i]];\n}\n\n// Map JS day (0=Sun..6=Sat) to ISO day-of-week (0=Mon..6=Sun).\nconst jsDay = now.getDay();\nconst dayIndex = (jsDay + 6) % 7;\nconst language = pool[dayIndex];\n\nreturn [{\n  json: {\n    language,\n    _rotation: { weekNum, year, dayIndex, weeklyPlan: pool }\n  }\n}];"
      },
      "id": "abcdef00-aaaa-bbbb-cccc-000000000001",
      "name": "Pick language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Weighted random pick: 40% renter, 40% owner, 20% service.\n// Preserves `language` from the upstream Pick language node.\n\nconst language = $input.first().json.language;\n\nconst weights = { renter: 0.4, owner: 0.4, service: 0.2 };\nconst r = Math.random();\n\nlet perspective;\nif (r < weights.renter) {\n  perspective = 'renter';\n} else if (r < weights.renter + weights.owner) {\n  perspective = 'owner';\n} else {\n  perspective = 'service';\n}\n\nreturn [{ json: { perspective, language } }];"
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Pick perspective",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.perspective }}",
                    "rightValue": "renter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "renter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.perspective }}",
                    "rightValue": "owner",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "owner"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.perspective }}",
                    "rightValue": "service",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "service"
            }
          ]
        },
        "options": {}
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Switch by perspective",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1160,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Renter perspective — topics loaded from prompts/topics.json\n// via Read topics + Extract topics JSON nodes. The extract node puts the\n// parsed JSON at $json (root), so $('Extract topics JSON').first().json\n// is the { renter, owner, service } object directly.\n\nconst allTopics = $('Extract topics JSON').first().json;\nconst topics = allTopics.renter;\nconst topic = topics[Math.floor(Math.random() * topics.length)];\n\nreturn [{\n  json: {\n    perspective: 'renter',\n    language: $input.first().json.language,\n    selectedTopic: topic\n  }\n}];"
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Renter pool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Owner perspective — topics loaded from prompts/topics.json\n// via Read topics + Extract topics JSON nodes. The extract node puts the\n// parsed JSON at $json (root), so $('Extract topics JSON').first().json\n// is the { renter, owner, service } object directly.\n\nconst allTopics = $('Extract topics JSON').first().json;\nconst topics = allTopics.owner;\nconst topic = topics[Math.floor(Math.random() * topics.length)];\n\nreturn [{\n  json: {\n    perspective: 'owner',\n    language: $input.first().json.language,\n    selectedTopic: topic\n  }\n}];"
      },
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Owner pool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Service perspective — topics loaded from prompts/topics.json\n// via Read topics + Extract topics JSON nodes. The extract node puts the\n// parsed JSON at $json (root), so $('Extract topics JSON').first().json\n// is the { renter, owner, service } object directly.\n\nconst allTopics = $('Extract topics JSON').first().json;\nconst topics = allTopics.service;\nconst topic = topics[Math.floor(Math.random() * topics.length)];\n\nreturn [{\n  json: {\n    perspective: 'service',\n    language: $input.first().json.language,\n    selectedTopic: topic\n  }\n}];"
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "Service pool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build prompts — embeds the multi-language brand-voice system prompt\n// (loaded from prompts/brand-voice-system.md via Read brand voice +\n// Extract brand voice text nodes) and assembles the Groq request body.\n\nconst perspective = $input.first().json.perspective;\nconst topic = $input.first().json.selectedTopic;\nconst language = $input.first().json.language;\n\n// City names per language. Topic data uses Russian (Cyrillic); we translate\n// on the fly so the user prompt instructs Groq with the right spelling.\nconst cityMap = {\n  'Кишинёв': { ru: 'Кишинёв', ro: 'Chișinău', en: 'Chișinău' },\n  'Бельцы':  { ru: 'Бельцы',  ro: 'Bălți',    en: 'Bălți' },\n  'Кагул':   { ru: 'Кагул',   ro: 'Cahul',    en: 'Cahul' },\n  'Тирасполь': { ru: 'Тирасполь', ro: 'Tiraspol', en: 'Tiraspol' },\n  'Комрат':  { ru: 'Комрат',  ro: 'Comrat',   en: 'Comrat' },\n  'Орхей':   { ru: 'Орхей',   ro: 'Orhei',    en: 'Orhei' },\n  'Молдова': { ru: 'Молдова', ro: 'Moldova',  en: 'Moldova' }\n};\nconst langLabel = { ru: 'Russian', ro: 'Romanian', en: 'English' }[language];\nconst city = (cityMap[topic.city] && cityMap[topic.city][language]) || topic.city;\n\n// Extract from File (operation=text) puts the text content at json.data.\nconst systemPrompt = $('Extract brand voice text').first().json.systemPrompt;\n\nconst userPrompt = `Perspective: ${perspective}\nArchetype: ${topic.archetype}\nTopic: ${topic.description}\nLanguage: ${langLabel} — write the ENTIRE post in ${langLabel}. The topic description above is in Russian for our internal reference; translate the idea into ${langLabel} with correct grammar, idiom, and the per-language formality rule.\nCity to reference: ${city}\n\nWrite ONE post in the ${perspective} perspective, following all mandatory rules and the feature whitelist. Vary the structure from previous outputs — do not reuse phrases from the example posts verbatim.\n\nIf the topic mentions multiple items (e.g. \"drill, tent, suitcase\"), pick ONE and stay with it for the entire post — do not jump between items mid-post.`;\n\nreturn [{\n  json: {\n    perspective,\n    language,\n    selectedTopic: topic,\n    requestBody: {\n      model: 'llama-3.3-70b-versatile',\n      temperature: 1.0,\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];"
      },
      "id": "cccccccc-cccc-cccc-cccc-cccccccccccc",
      "name": "Build prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Groq chat completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Deterministic post-validation. Universal checks (brand name, length,\n// emoji, CJK) run for every language. Russian-specific style checks\n// (Вы/ВЫ/вы/ты, forbidden phrases, mixed Latin city names) only run on\n// language === 'ru'. For ro/en, we also check that no stray Cyrillic\n// characters leaked into the body.\n//\n// If anything fails, builds a regenRequestBody = original conversation +\n// assistant draft + user message listing the issues. IF node branches on\n// _validate.passed.\n\nconst content = $input.first().json.choices[0].message.content;\nconst requestBody = $('Build prompts').first().json.requestBody;\nconst perspective = $('Build prompts').first().json.perspective;\nconst language = $('Build prompts').first().json.language;\n\nconst issues = [];\n\n// ─── Universal checks (all languages) ───\n\n// 1. Brand name must appear, written exactly as 'Lorent Bloom'\nif (!content.includes('Lorent Bloom')) {\n  issues.push('Brand name \"Lorent Bloom\" missing from the post — it must appear in the body, exactly as \"Lorent Bloom\" (not transliterated).');\n}\n\n// 2. Length (target 80-150, tolerate 60-200)\nconst wordCount = content.trim().split(/\\s+/).filter(w => w.length > 0).length;\nif (wordCount < 60) issues.push(`Too short: ${wordCount} words (target 80-150, minimum 60).`);\nif (wordCount > 200) issues.push(`Too long: ${wordCount} words (target 80-150, max 200).`);\n\n// 3. Emoji forbidden in any language\nconst emojiPattern = /[\\u{1F300}-\\u{1FAFF}\\u{2600}-\\u{27BF}\\u{1F000}-\\u{1F02F}\\u{1F0A0}-\\u{1F0FF}\\u{1F100}-\\u{1F1FF}\\u{1F200}-\\u{1F2FF}\\u{2700}-\\u{27BF}\\u{2B50}\\u{2B55}\\u{2705}\\u{274C}]/u;\nif (emojiPattern.test(content)) {\n  issues.push('Emoji detected — brand voice forbids ALL emojis (decorative or functional). Use plain text.');\n}\n\n// 4. CJK / foreign script token leak (Llama bug — '找到', '挂', etc.)\nconst cjkPattern = /[一-鿿぀-ヿ]/;\nif (cjkPattern.test(content)) {\n  issues.push('Foreign script characters (Chinese/Japanese) detected — likely Llama token leak. Use only the target language alphabet.');\n}\n\n// ─── Russian-only checks ───\n\nif (language === 'ru') {\n  // Lowercase 'вы'\n  const lowerVyPattern = /(^|[\\s,.;:!?\\-—«\"])вы(\\s|[,.;:!?\\-—»\"])/;\n  if (lowerVyPattern.test(content)) {\n    issues.push('Lowercase \"вы\" detected — formal address must always be capitalized \"Вы\" (capital В then lowercase ы).');\n  }\n  // ALL-CAPS 'ВЫ'\n  if (/(^|[\\s,.;:!?\\-—«\"])ВЫ(\\s|[,.;:!?\\-—»\"])/.test(content)) {\n    issues.push('ALL-CAPS \"ВЫ\" detected — should be \"Вы\" (capital В then lowercase ы).');\n  }\n  // Informal 'ты'\n  if (/(^|[\\s,.;:!?\\-—«\"])ты(\\s|[,.;:!?\\-—»\"])/i.test(content)) {\n    issues.push('Informal \"ты\" detected — brand voice requires formal \"Вы\" throughout, never \"ты\".');\n  }\n\n  // Forbidden Russian phrases\n  const forbidden = [\n    { rx: /С помощью нашей платформы/i, name: '\"С помощью нашей платформы\" (use \"В Lorent Bloom\" instead)' },\n    { rx: /часто возникает необходимость/i, name: '\"часто возникает необходимость\" (open with a concrete fact instead)' },\n    { rx: /многие сталкиваются с/i, name: '\"многие сталкиваются с\"' },\n    { rx: /Это разумное решение для тех/i, name: '\"Это разумное решение для тех...\"' },\n    { rx: /Это поможет (Вам|вам) сэкономить/i, name: '\"Это поможет Вам сэкономить\"' },\n    { rx: /(^|\\s)успейте/i, name: '\"успейте\" (no urgency cliches)' },\n    { rx: /не упустите/i, name: '\"не упустите\"' },\n    { rx: /ограниченное предложение/i, name: '\"ограниченное предложение\"' },\n    { rx: /тысячи (пользователей|людей)/i, name: '\"тысячи пользователей/людей\" (no fabricated stats)' },\n    { rx: /самый безопасный/i, name: '\"самый безопасный\" (no unprovable superlatives)' },\n    { rx: /лучший в Молдове/i, name: '\"лучший в Молдове\" (no unprovable superlatives)' },\n    { rx: /наша платформа/i, name: '\"наша платформа\" (use \"Lorent Bloom\" instead)' },\n    { rx: /многие пользователи/i, name: '\"многие пользователи\" — implied user count without basis' },\n    { rx: /около \\d+\\s*лей в день/i, name: '\"около X лей в день\" — vague price, use a specific number tied to a real item' },\n    { rx: /безделушк[аи]/i, name: '\"безделушки\" — dismissive of real items; use specific item names' }\n  ];\n  for (const { rx, name } of forbidden) {\n    if (rx.test(content)) issues.push(`Forbidden phrase: ${name}`);\n  }\n\n  // Mixed-script in ru post: Latin city names are wrong\n  const latinCities = ['Chișinău', 'Bălți', 'Cahul', 'Tiraspol', 'Comrat'];\n  for (const lc of latinCities) {\n    if (content.includes(lc)) {\n      issues.push(`Mixed script: \"${lc}\" (Latin) in a Russian post — use Cyrillic equivalent.`);\n    }\n  }\n}\n\n// ─── Romanian-only checks ───\n\nif (language === 'ro') {\n  // Stray Cyrillic in a Latin-script post\n  if (/[Ѐ-ӿ]/.test(content)) {\n    issues.push('Cyrillic characters detected in a Romanian post — write entirely in Latin script with Romanian diacritics.');\n  }\n  // 'tu' as informal you (light check — bounded by spaces to reduce false positives)\n  if (/(^|[\\s,.;:!?\\-—«\"])tu(\\s|[,.;:!?\\-—»\"])/.test(content)) {\n    issues.push('Informal \"tu\" detected — brand voice requires formal \"Dvs.\" / \"Dumneavoastră\", never \"tu\".');\n  }\n}\n\n// ─── English-only checks ───\n\nif (language === 'en') {\n  // Stray Cyrillic in a Latin-script post\n  if (/[Ѐ-ӿ]/.test(content)) {\n    issues.push('Cyrillic characters detected in an English post — write entirely in Latin script.');\n  }\n  // Contractions — flag the common ones for the formal register\n  const contractions = [/\\bdon't\\b/i, /\\bcan't\\b/i, /\\bwon't\\b/i, /\\bit's\\b/i, /\\byou're\\b/i, /\\bthey're\\b/i, /\\bwe're\\b/i];\n  for (const rx of contractions) {\n    if (rx.test(content)) {\n      issues.push(`Contraction \"${content.match(rx)[0]}\" — formal register prefers the expanded form (do not, cannot, will not, it is, you are, they are, we are).`);\n      break;\n    }\n  }\n}\n\nconst passed = issues.length === 0;\nlet regenRequestBody = null;\n\nif (!passed) {\n  const fixInstruction = `The draft you just wrote has these brand-voice issues:\n\n${issues.map((iss, i) => `${i + 1}. ${iss}`).join('\\n')}\n\nRewrite the post fixing EVERY issue. Keep the same topic, perspective (${perspective}), language (${language}), and approximate length. Output ONLY the corrected post — no commentary, no labels, no \"Here is the corrected post:\".`;\n\n  regenRequestBody = {\n    ...requestBody,\n    messages: [\n      ...requestBody.messages,\n      { role: 'assistant', content },\n      { role: 'user', content: fixInstruction }\n    ]\n  };\n}\n\nreturn [{\n  json: {\n    choices: $input.first().json.choices,\n    _validate: {\n      passed,\n      issues,\n      wordCount,\n      language,\n      regenRequestBody\n    }\n  }\n}];"
      },
      "id": "dddddddd-dddd-dddd-dddd-dddddddddddd",
      "name": "Validate output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._validate.passed }}",
              "rightValue": "={{ false }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eeeeeeee-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "Needs regeneration?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2260,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._validate.regenRequestBody) }}",
        "options": {}
      },
      "id": "ffffffff-ffff-ffff-ffff-ffffffffffff",
      "name": "Regenerate with feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        300
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "12121212-1212-1212-1212-121212121212",
      "name": "Merge text branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2700,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $env.CLOUDFLARE_ACCOUNT_ID }}/ai/run/@cf/black-forest-labs/flux-1-schnell",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $('Build prompts').item.json.selectedTopic.imagePrompt, num_steps: 8 }) }}",
        "options": {}
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Cloudflare image generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2920,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Compose preview — loop-tolerant. Builds captionText and packages the\n// binary image for the Telegram preview. Handles five upstream sources:\n//   1. Cloudflare image generation (initial / regen_both): item.json.result.image\n//   2. Regen image with hint: item.json.result.image (same shape as #1)\n//   3. Regen text with hint: item.json.choices (no result.image — reuse prior image)\n//   4. Override text from form: item.json.overrideText (reuse prior image)\n//   5. Wire downloaded as image: item.binary.image is the new upload (reuse prior text)\n\nconst item = $input.first();\nconst inJson = item.json || {};\nconst inBinary = item.binary || {};\n\n// ─── Text source resolution ───\nlet text;\nif (inJson.overrideText) {\n  text = inJson.overrideText;\n} else if (inJson.choices && inJson.choices[0]) {\n  text = inJson.choices[0].message.content;\n} else {\n  try {\n    text = $('Merge text branches').first().json.choices[0].message.content;\n  } catch (e) {\n    text = null;\n  }\n  if (!text) {\n    try {\n      text = $('Compose preview').first().json.text;\n    } catch (e) {}\n  }\n}\n\nif (!text) throw new Error('Compose preview: no text source available');\n\n// ─── Image source resolution ───\nlet imageBinary;\nlet _imageSource;\nlet _inBinaryKeys = Object.keys(inBinary);\nlet _inJsonShape = {\n  hasResultImage: !!(inJson.result && inJson.result.image),\n  hasChoices: !!(inJson.choices && inJson.choices[0]),\n  hasOverrideText: !!inJson.overrideText,\n  action: inJson.action || null,\n  new_image_url: inJson.new_image_url || null\n};\n\nif (inJson.result && inJson.result.image) {\n  imageBinary = {\n    data: inJson.result.image,\n    mimeType: 'image/png',\n    fileName: 'generated.png'\n  };\n  _imageSource = 'cloudflare_response';\n} else if (inBinary.image) {\n  imageBinary = inBinary.image;\n  _imageSource = 'inline_binary_image_key';\n} else {\n  // Maybe upstream put binary under a non-image key\n  const firstBinKey = _inBinaryKeys[0];\n  if (firstBinKey) {\n    imageBinary = inBinary[firstBinKey];\n    _imageSource = 'inline_binary_first_key:' + firstBinKey;\n  } else {\n    try {\n      const prior = $('Compose preview').first();\n      if (prior.binary && prior.binary.image) {\n        imageBinary = prior.binary.image;\n        _imageSource = 'historic_compose_preview';\n      }\n    } catch (e) {}\n  }\n}\n\nif (!imageBinary) throw new Error('Compose preview: no image source available. inBinaryKeys=' + JSON.stringify(_inBinaryKeys));\n\n// ─── Context (perspective, topic, language) ───\nlet perspective = inJson.perspective;\nlet topic = inJson.selectedTopic;\nlet language = inJson.language;\nif (!perspective || !topic || !language) {\n  const bp = $('Build prompts').first().json;\n  perspective = perspective || bp.perspective;\n  topic = topic || bp.selectedTopic;\n  language = language || bp.language;\n}\n\n// ─── Hashtag composition (recomputed each iteration for variety) ───\nconst hashtags = ['#LorentBloom'];\n\nconst brandTag = {\n  ru: '#АрендаМолдова',\n  ro: '#ÎnchirieriMoldova',\n  en: '#RentMoldova'\n}[language];\nhashtags.push(brandTag);\n\nconst perspectiveTags = {\n  renter:  { ru: '#АрендуйВМолдове', ro: '#ÎnchiriazăÎnMoldova', en: '#RentInMoldova' },\n  owner:   { ru: '#СдайВАренду',     ro: '#DăÎnChirie',           en: '#EarnRenting' },\n  service: null\n};\nconst ptag = perspectiveTags[perspective] && perspectiveTags[perspective][language];\nif (ptag) hashtags.push(ptag);\n\nif (language === 'ru') {\n  const topicTags = topic.hashtags || [];\n  const shuffled = [...topicTags].sort(() => Math.random() - 0.5);\n  hashtags.push(...shuffled.slice(0, Math.min(2, shuffled.length)));\n} else {\n  hashtags.push('#Moldova');\n}\n\nconst captionText = text + '\\n\\nhttps://lorentbloom.com\\n\\n' + hashtags.join(' ');\n\nreturn [{\n  json: {\n    perspective,\n    language,\n    selectedTopic: topic,\n    text,\n    captionText,\n    hashtagsUsed: hashtags,\n    _debug: { imageSource: _imageSource, inBinaryKeys: _inBinaryKeys, inJsonShape: _inJsonShape, imageBinarySize: imageBinary && imageBinary.fileSize }\n  },\n  binary: { image: imageBinary }\n}];"
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Compose preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3140,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendPhoto",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.captionText }}"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [ [{ text: '✅ Approve & publish', callback_data: 'approve' }], [{ text: '🖼 Regenerate image', callback_data: 'regen_image' }], [{ text: '📝 Regenerate text', callback_data: 'regen_text' }], [{ text: '🔁 Regenerate both', callback_data: 'regen_both' }], [{ text: '✏️ Edit text manually', callback_data: 'edit_text' }], [{ text: '📷 Replace image', callback_data: 'replace_image' }] ] }) }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "photo",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Send preview to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/register-pending",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ resumeUrl: $execution.resumeUrl || ('http://localhost:5678/webhook-waiting/' + $execution.id), messageId: ($json.message_id || ($json.result && $json.result.message_id)), chatId: (($json.chat && $json.chat.id) || ($json.result && $json.result.chat && $json.result.chat.id)) }) }}",
        "options": {}
      },
      "id": "sp222222-sp22-sp22-sp22-sp2222222222",
      "name": "Save pending state",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        400
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "id": "wa111111-wa11-wa11-wa11-wa1111111111",
      "name": "Wait for action",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3680,
        400
      ],
      "webhookId": "wa111111-wa11-wa11-wa11-wa1111111111"
    },
    {
      "parameters": {
        "jsCode": "// Parse the webhook body sent by the Telegram action handler chain.\n// Body shape:\n//   { action: 'approve|regen_image|regen_text|regen_both|edit_text|replace_image',\n//     feedback: '' | '...',     // for regen_* if user provided a hint\n//     new_text: '' | '...',     // for edit_text\n//     new_image_url: '' | 'https://...'  // for replace_image (Catbox URL handler uploaded)\n//   }\n//\n// Carries forward the pre-Wait state (caption, binary, topic, language) from\n// the most recent Compose preview execution so every downstream branch has\n// a full item to work with.\n\nconst item = $input.first();\n// Wait node webhook resume puts the body on item.json.body (n8n v1.x) — fall back to item.json.\nconst body = (item.json && item.json.body) ? item.json.body : (item.json || {});\n\nconst action = body.action || 'invalid';\nconst feedback = body.feedback || '';\nconst new_text = body.new_text || '';\nconst new_image_url = body.new_image_url || '';\n\nconst validActions = ['approve', 'regen_image', 'regen_text', 'regen_both', 'edit_text', 'replace_image'];\nlet normalizedAction = action;\nlet validationError = null;\n\nif (!validActions.includes(action)) {\n  normalizedAction = 'invalid';\n  validationError = `Unknown action received: ${action}`;\n}\n\n// Pre-Wait state from the most recent Compose preview execution.\nconst composePreview = $('Compose preview').first();\n\nconst outputJson = {\n  action: normalizedAction,\n  feedback,\n  new_text,\n  new_image_url,\n  validationError,\n  perspective: composePreview.json.perspective,\n  language: composePreview.json.language,\n  selectedTopic: composePreview.json.selectedTopic,\n  captionText: composePreview.json.captionText,\n  hashtagsUsed: composePreview.json.hashtagsUsed\n};\n\nif (normalizedAction === 'invalid') {\n  outputJson.captionText = '[Invalid action: ' + validationError + ']\\n\\n' + outputJson.captionText;\n}\n\nconst outputBinary = {};\nif (composePreview.binary && composePreview.binary.image) {\n  outputBinary.image = composePreview.binary.image;\n}\n\nreturn [{ json: outputJson, binary: outputBinary }];"
      },
      "id": "pa111111-pa11-pa11-pa11-pa1111111111",
      "name": "Parse resume payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "regen_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regen_image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "regen_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regen_text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "regen_both",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regen_both"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "edit_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "edit_text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "replace_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "replace_image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "sw111111-sw11-sw11-sw11-sw1111111111",
      "name": "Switch on action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4060,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://catbox.moe/user/api.php",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "reqtype",
              "value": "fileupload"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileToUpload",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "cabb1111-cabb-cabb-cabb-cabb11111111",
      "name": "Upload to Catbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4500,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.FB_PAGE_ID }}/photos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Upload to Catbox').first().json.data, caption: $('Compose preview').first().json.captionText }) }}",
        "options": {}
      },
      "id": "fbfbfbfb-fbfb-fbfb-fbfb-fbfbfbfbfbfb",
      "name": "FB Page post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4720,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_BUSINESS_ACCOUNT_ID }}/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_url: $('Upload to Catbox').first().json.data, caption: $('Compose preview').first().json.captionText }) }}",
        "options": {}
      },
      "id": "ig111111-ig11-ig11-ig11-ig1111111111",
      "name": "IG create container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4720,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_BUSINESS_ACCOUNT_ID }}/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ creation_id: $json.id }) }}",
        "options": {}
      },
      "id": "ig222222-ig22-ig22-ig22-ig2222222222",
      "name": "IG publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4940,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $env.CLOUDFLARE_ACCOUNT_ID }}/ai/run/@cf/black-forest-labs/flux-1-schnell",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.selectedTopic.imagePrompt + ($json.feedback ? '. Style hint: ' + $json.feedback : ''), num_steps: 8 }) }}",
        "options": {}
      },
      "id": "re111111-re11-re11-re11-re1111111111",
      "name": "Regen image with hint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4280,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 1.0, messages: [...$('Build prompts').first().json.requestBody.messages, { role: 'assistant', content: $('Compose preview').first().json.text }, { role: 'user', content: 'Rewrite the post entirely. ' + ($json.feedback ? 'Reviewer hint: ' + $json.feedback + '. ' : '') + 'Keep language=' + $json.language + ', perspective=' + $json.perspective + '. Output ONLY the post — no commentary.' }] }) }}",
        "options": {}
      },
      "id": "re222222-re22-re22-re22-re2222222222",
      "name": "Regen text with hint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4280,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Override text from form (edit_text path).\n// User-typed text becomes the new post body; Compose preview will append\n// the URL and hashtags via the overrideText path.\n\nconst item = $input.first();\nconst newText = (item.json.new_text || '').trim();\n\nif (!newText) {\n  throw new Error('Override text from form: new_text is empty (should have been caught by Parse resume payload).');\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    overrideText: newText\n  },\n  binary: item.binary\n}];"
      },
      "id": "ov111111-ov11-ov11-ov11-ov1111111111",
      "name": "Override text from form",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4280,
        520
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.new_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "fn111111-fn11-fn11-fn11-fn1111111111",
      "name": "Fetch new image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4280,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Read the actual file bytes downloaded by Fetch new image, base64-encode\n// them, and embed in the binary metadata's `data` field directly. This\n// avoids n8n's binary-by-reference path which loses the file reference\n// when binary keys get reassigned across Code nodes.\n//\n// Same pattern Cloudflare image gen uses (its base64 output flows fine\n// through subsequent nodes), so we mirror it here.\n\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buf.toString('base64');\n\nconst ctx = $('Parse resume payload').first();\n\nreturn [{\n  json: ctx.json,\n  binary: {\n    image: {\n      data: base64,\n      mimeType: 'image/jpeg',\n      fileName: 'uploaded.jpg'\n    }\n  }\n}];"
      },
      "id": "wd111111-wd11-wd11-wd11-wd1111111111",
      "name": "Wire downloaded as image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4500,
        640
      ]
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "tg111111-tg11-tg11-tg11-tg1111111111",
      "name": "Telegram updates",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        1100
      ],
      "webhookId": "tg111111-tg11-tg11-tg11-tg1111111111"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ Boolean($json.callback_query) }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "callback_query"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ Boolean($json.message) }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            }
          ]
        },
        "options": {}
      },
      "id": "su111111-su11-su11-su11-su1111111111",
      "name": "Switch update type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        420,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle a callback_query (button tap on the preview message).\n// - Verifies the tap matches the currently-pending review (rejects stale buttons).\n// - For 'approve': clears pending and routes to resume the generator immediately.\n// - For 'regen_*' / 'edit_text' / 'replace_image': records waitingFor in static\n//   data and routes to a Telegram sendMessage that asks for the input.\n\nconst cb = $input.first().json.callback_query;\nconst action = (cb && cb.data) || null;\nconst messageId = cb && cb.message && cb.message.message_id;\nconst chatId = cb && cb.message && cb.message.chat && cb.message.chat.id;\nconst callbackQueryId = cb && cb.id;\n\nconst data = $getWorkflowStaticData('global');\nconst pending = data.pending;\n\n// Reject stale or mismatched taps.\nif (!pending || pending.messageId !== messageId || pending.chatId !== chatId) {\n  let reason;\n  if (!pending) {\n    reason = 'pending is null/missing in staticData — Save pending state did not write or write was lost';\n  } else if (pending.messageId !== messageId) {\n    reason = `messageId mismatch: button=${messageId} (type ${typeof messageId}) vs pending=${pending.messageId} (type ${typeof pending.messageId})`;\n  } else if (pending.chatId !== chatId) {\n    reason = `chatId mismatch: button=${chatId} (type ${typeof chatId}) vs pending=${pending.chatId} (type ${typeof pending.chatId})`;\n  }\n  return [{\n    json: {\n      _nextStep: 'ignore',\n      reason,\n      callbackQueryId,\n      buttonChatId: chatId,\n      buttonMessageId: messageId,\n      pendingSnapshot: pending\n    }\n  }];\n}\n\nlet nextStep, askText, waitingFor, resumeBody;\n\nif (action === 'approve') {\n  nextStep = 'resume';\n  resumeBody = { action: 'approve' };\n  data.pending = null;\n} else if (action === 'regen_image' || action === 'regen_text' || action === 'regen_both') {\n  nextStep = 'ask';\n  waitingFor = 'hint_for_' + action;\n  askText = 'Send a short style hint as a text reply (e.g. \"darker, no people\" or \"shorter, more direct\"), or send /skip to regenerate without a hint.';\n  data.pending.waitingFor = waitingFor;\n} else if (action === 'edit_text') {\n  nextStep = 'ask';\n  waitingFor = 'edit_text';\n  askText = 'Send the new caption as a text reply. It will replace the current post body verbatim (URL and hashtags get re-added automatically).';\n  data.pending.waitingFor = waitingFor;\n} else if (action === 'replace_image') {\n  nextStep = 'ask';\n  waitingFor = 'replace_image';\n  askText = 'Send the new image as a photo in this chat. It will replace the current preview image.';\n  data.pending.waitingFor = waitingFor;\n} else {\n  nextStep = 'ignore';\n  return [{\n    json: {\n      _nextStep: 'ignore',\n      reason: 'Unknown callback_data: ' + action,\n      callbackQueryId,\n      chatId\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    _nextStep: nextStep,\n    callbackQueryId,\n    chatId,\n    askText,\n    waitingFor,\n    resumeUrl: pending.resumeUrl,\n    resumeBody\n  }\n}];"
      },
      "id": "hc111111-hc11-hc11-hc11-hc1111111111",
      "name": "Handle callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1000
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._nextStep }}",
                    "rightValue": "resume",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._nextStep }}",
                    "rightValue": "ask",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ask"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._nextStep }}",
                    "rightValue": "ignore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignore"
            }
          ]
        },
        "options": {}
      },
      "id": "sc111111-sc11-sc11-sc11-sc1111111111",
      "name": "Switch callback next step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        860,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.resumeUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.resumeBody) }}",
        "options": {}
      },
      "id": "rc111111-rc11-rc11-rc11-rc1111111111",
      "name": "Resume from callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        900
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.askText }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "sm111111-sm11-sm11-sm11-sm1111111111",
      "name": "Send ask prompt",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1080,
        1050
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle a message update (text reply or photo).\n// - If no pending review is waiting for input, ignores.\n// - If pending.waitingFor matches the message kind, builds a resume payload\n//   and routes to the resume HTTP. Clears waitingFor afterward.\n//\n// waitingFor values:\n//   'edit_text'           — expect text → resume with {action:'edit_text', new_text}\n//   'hint_for_regen_*'    — expect text → resume with {action:'regen_*', feedback}\n//                            (text '/skip' → feedback='')\n//   'replace_image'       — expect photo → fetch file → upload to Catbox → resume\n//                            with {action:'replace_image', new_image_url}\n\nconst msg = $input.first().json.message;\nconst text = msg && msg.text;\nconst photo = msg && msg.photo;\nconst chatId = msg && msg.chat && msg.chat.id;\n\nconst data = $getWorkflowStaticData('global');\nconst pending = data.pending;\n\nif (!pending || !pending.waitingFor) {\n  return [{ json: { _nextStep: 'ignore', reason: 'No pending review waiting for input.' } }];\n}\nif (pending.chatId !== chatId) {\n  return [{ json: { _nextStep: 'ignore', reason: 'Message from a different chat.' } }];\n}\n\nconst waitingFor = pending.waitingFor;\n\nif (waitingFor === 'edit_text') {\n  if (!text) return [{ json: { _nextStep: 'ignore', reason: 'edit_text expected a text reply.' } }];\n  data.pending = null;\n  return [{\n    json: {\n      _nextStep: 'resume_text',\n      resumeUrl: pending.resumeUrl,\n      resumeBody: { action: 'edit_text', new_text: text }\n    }\n  }];\n}\n\nif (waitingFor.startsWith('hint_for_')) {\n  if (!text) return [{ json: { _nextStep: 'ignore', reason: 'Hint expected a text reply.' } }];\n  const action = waitingFor.replace('hint_for_', '');\n  const feedback = text.trim() === '/skip' ? '' : text;\n  data.pending = null;\n  return [{\n    json: {\n      _nextStep: 'resume_text',\n      resumeUrl: pending.resumeUrl,\n      resumeBody: { action, feedback }\n    }\n  }];\n}\n\nif (waitingFor === 'replace_image') {\n  if (!photo || photo.length === 0) {\n    return [{ json: { _nextStep: 'ignore', reason: 'replace_image expected a photo.' } }];\n  }\n  const file_id = photo[photo.length - 1].file_id; // largest size\n  data.pending = null;\n  return [{\n    json: {\n      _nextStep: 'resume_image',\n      resumeUrl: pending.resumeUrl,\n      file_id\n    }\n  }];\n}\n\nreturn [{ json: { _nextStep: 'ignore', reason: 'Unknown waitingFor: ' + waitingFor } }];"
      },
      "id": "hm111111-hm11-hm11-hm11-hm1111111111",
      "name": "Handle message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1200
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._nextStep }}",
                    "rightValue": "resume_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "resume_text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._nextStep }}",
                    "rightValue": "resume_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "resume_image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._nextStep }}",
                    "rightValue": "ignore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignore"
            }
          ]
        },
        "options": {}
      },
      "id": "sm211111-sm21-sm21-sm21-sm2111111111",
      "name": "Switch message next step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        860,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.resumeUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.resumeBody) }}",
        "options": {}
      },
      "id": "rt111111-rt11-rt11-rt11-rt1111111111",
      "name": "Resume with text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        1150
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.file_id }}"
      },
      "id": "gf111111-gf11-gf11-gf11-gf1111111111",
      "name": "Get Telegram file",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1080,
        1250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://catbox.moe/user/api.php",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "reqtype",
              "value": "fileupload"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileToUpload",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "cu111111-cu11-cu11-cu11-cu1111111111",
      "name": "Upload photo to Catbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        1250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Handle message').first().json.resumeUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'replace_image', new_image_url: $json.data }) }}",
        "options": {}
      },
      "id": "ri111111-ri11-ri11-ri11-ri1111111111",
      "name": "Resume with image URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        1250
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register-pending",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "rw222222-rw22-rw22-rw22-rw2222222222",
      "name": "Register pending webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        1450
      ],
      "webhookId": "rw222222-rw22-rw22-rw22-rw2222222222"
    },
    {
      "parameters": {
        "jsCode": "// Write the pending state to workflow staticData.\n// This runs as its own execution (triggered by the local HTTP call from\n// Save pending state), so when this execution completes, staticData\n// is flushed to disk and visible to the Telegram trigger execution.\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst data = $getWorkflowStaticData('global');\ndata.pending = {\n  resumeUrl: body.resumeUrl,\n  messageId: body.messageId,\n  chatId: body.chatId,\n  waitingFor: null,\n  registeredAt: new Date().toISOString()\n};\n\nreturn [{ json: { ok: true, pending: data.pending } }];"
      },
      "id": "cm111111-cm11-cm11-cm11-cm1111111111",
      "name": "Commit pending to staticData",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        1450
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {}
      },
      "id": "rs111111-rs11-rs11-rs11-rs1111111111",
      "name": "Respond ok",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        1450
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "permalink"
            }
          ]
        },
        "options": {}
      },
      "id": "gp111111-gp11-gp11-gp11-gp1111111111",
      "name": "Get IG permalink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4780,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: '✅ Published\\n\\nFacebook: https://www.facebook.com/' + $('FB Page post').first().json.post_id + '\\nInstagram: ' + ($json.permalink || 'https://www.instagram.com/'), disable_web_page_preview: false }) }}",
        "options": {}
      },
      "id": "sl111111-sl11-sl11-sl11-sl1111111111",
      "name": "Send published links",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5000,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: '⏳ Publishing to Facebook and Instagram...' }) }}",
        "options": {}
      },
      "id": "sp333333-sp33-sp33-sp33-sp3333333333",
      "name": "Send publishing started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        0
      ]
    }
  ],
  "connections": {
    "When clicking Test workflow": {
      "main": [
        [
          {
            "node": "Read brand voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick language": {
      "main": [
        [
          {
            "node": "Pick perspective",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick perspective": {
      "main": [
        [
          {
            "node": "Switch by perspective",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by perspective": {
      "main": [
        [
          {
            "node": "Renter pool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Owner pool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Service pool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renter pool": {
      "main": [
        [
          {
            "node": "Build prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Owner pool": {
      "main": [
        [
          {
            "node": "Build prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service pool": {
      "main": [
        [
          {
            "node": "Build prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build prompts": {
      "main": [
        [
          {
            "node": "Groq chat completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq chat completion": {
      "main": [
        [
          {
            "node": "Validate output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate output": {
      "main": [
        [
          {
            "node": "Needs regeneration?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs regeneration?": {
      "main": [
        [
          {
            "node": "Regenerate with feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge text branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Regenerate with feedback": {
      "main": [
        [
          {
            "node": "Merge text branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge text branches": {
      "main": [
        [
          {
            "node": "Cloudflare image generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudflare image generation": {
      "main": [
        [
          {
            "node": "Compose preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose preview": {
      "main": [
        [
          {
            "node": "Send preview to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send preview to Telegram": {
      "main": [
        [
          {
            "node": "Save pending state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save pending state": {
      "main": [
        [
          {
            "node": "Wait for action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for action": {
      "main": [
        [
          {
            "node": "Parse resume payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse resume payload": {
      "main": [
        [
          {
            "node": "Switch on action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch on action": {
      "main": [
        [
          {
            "node": "Send publishing started",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to Catbox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Regen image with hint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Regen text with hint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Override text from form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch new image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send preview to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Catbox": {
      "main": [
        [
          {
            "node": "FB Page post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG create container": {
      "main": [
        [
          {
            "node": "IG publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regen image with hint": {
      "main": [
        [
          {
            "node": "Compose preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regen text with hint": {
      "main": [
        [
          {
            "node": "Compose preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Override text from form": {
      "main": [
        [
          {
            "node": "Compose preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch new image": {
      "main": [
        [
          {
            "node": "Wire downloaded as image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wire downloaded as image": {
      "main": [
        [
          {
            "node": "Compose preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram updates": {
      "main": [
        [
          {
            "node": "Switch update type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch update type": {
      "main": [
        [
          {
            "node": "Handle callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle callback": {
      "main": [
        [
          {
            "node": "Switch callback next step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch callback next step": {
      "main": [
        [
          {
            "node": "Resume from callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send ask prompt",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Handle message": {
      "main": [
        [
          {
            "node": "Switch message next step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch message next step": {
      "main": [
        [
          {
            "node": "Resume with text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Telegram file",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Telegram file": {
      "main": [
        [
          {
            "node": "Upload photo to Catbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload photo to Catbox": {
      "main": [
        [
          {
            "node": "Resume with image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read brand voice": {
      "main": [
        [
          {
            "node": "Extract brand voice text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read topics": {
      "main": [
        [
          {
            "node": "Extract topics JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract brand voice text": {
      "main": [
        [
          {
            "node": "Read topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract topics JSON": {
      "main": [
        [
          {
            "node": "Pick language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register pending webhook": {
      "main": [
        [
          {
            "node": "Commit pending to staticData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit pending to staticData": {
      "main": [
        [
          {
            "node": "Respond ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Page post": {
      "main": [
        [
          {
            "node": "IG create container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG publish": {
      "main": [
        [
          {
            "node": "Get IG permalink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IG permalink": {
      "main": [
        [
          {
            "node": "Send published links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}