workflows/test-content-generation.json
{
  "name": "test-content-generation",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "When clicking Test workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Day-of-week language rotation with weekly random shuffle.\n// Same week → same Mon-Sun pattern; new week → fresh pattern.\n// Weekly distribution: 3 ru + 2 ro + 2 en (43% / 29% / 29%).\n// Seed: ISO year × 100 + ISO week number, so the rotation is deterministic\n// per week but unpredictable across weeks.\n\nconst now = new Date();\n\nfunction getISOWeek(d) {\n  const date = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));\n  date.setUTCDate(date.getUTCDate() + 4 - (date.getUTCDay() || 7));\n  const yearStart = new Date(Date.UTC(date.getUTCFullYear(), 0, 1));\n  return Math.ceil((((date - yearStart) / 86400000) + 1) / 7);\n}\n\nconst weekNum = getISOWeek(now);\nconst year = now.getUTCFullYear();\nconst seed = year * 100 + weekNum;\n\n// Seeded PRNG (mulberry32) — deterministic for a given seed.\nfunction mulberry32(s) {\n  return function () {\n    let t = s += 0x6D2B79F5;\n    t = Math.imul(t ^ t >>> 15, t | 1);\n    t ^= t + Math.imul(t ^ t >>> 7, t | 61);\n    return ((t ^ t >>> 14) >>> 0) / 4294967296;\n  };\n}\n\nconst rng = mulberry32(seed);\n\n// Weekly slot pool: 3 ru + 2 ro + 2 en = 7 days.\nconst pool = ['ru', 'ru', 'ru', 'ro', 'ro', 'en', 'en'];\n\n// Fisher-Yates shuffle with seeded RNG → same week always shuffles the same way.\nfor (let i = pool.length - 1; i > 0; i--) {\n  const j = Math.floor(rng() * (i + 1));\n  [pool[i], pool[j]] = [pool[j], pool[i]];\n}\n\n// Map JS day (0=Sun..6=Sat) to ISO day-of-week (0=Mon..6=Sun).\nconst jsDay = now.getDay();\nconst dayIndex = (jsDay + 6) % 7;\nconst language = pool[dayIndex];\n\nreturn [{\n  json: {\n    language,\n    _rotation: { weekNum, year, dayIndex, weeklyPlan: pool }\n  }\n}];"
      },
      "id": "abcdef00-aaaa-bbbb-cccc-000000000001",
      "name": "Pick language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Weighted random pick: 40% renter, 40% owner, 20% service.\n// Preserves `language` from the upstream Pick language node.\n\nconst language = $input.first().json.language;\n\nconst weights = { renter: 0.4, owner: 0.4, service: 0.2 };\nconst r = Math.random();\n\nlet perspective;\nif (r < weights.renter) {\n  perspective = 'renter';\n} else if (r < weights.renter + weights.owner) {\n  perspective = 'owner';\n} else {\n  perspective = 'service';\n}\n\nreturn [{ json: { perspective, language } }];"
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Pick perspective",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.perspective }}",
                    "rightValue": "renter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "renter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.perspective }}",
                    "rightValue": "owner",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "owner"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.perspective }}",
                    "rightValue": "service",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "service"
            }
          ]
        },
        "options": {}
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Switch by perspective",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        820,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Renter perspective — 13 topics. Each has 3-6 curated hashtags;\n// Decode picks 2 at random per run for variety.\n\nconst topics = [\n  {\n    archetype: 'money-saving calculation',\n    description: 'перфоратор средней мощности, покупка ~3500 лей, аренда ~180 лей/день, для двух разовых задач (повесить полку, через год карниз для штор)',\n    city: 'Кишинёв',\n    imagePrompt: 'Young woman mounting a wooden floating shelf on a white wall using a cordless power drill, modern Scandinavian apartment, soft natural light, lifestyle photography',\n    hashtags: ['#перфоратор', '#инструменты', '#ремонт', '#ремонтКвартиры', '#DIY']\n  },\n  {\n    archetype: 'money-saving calculation',\n    description: 'мойка высокого давления для машины и террасы, покупка ~3000 лей, аренда ~200 лей/день, нужна весной и осенью',\n    city: 'Кагул',\n    imagePrompt: 'Man washing a dark car with a pressure washer in a residential driveway, water spray catching sunlight, sunny spring day, lifestyle photography',\n    hashtags: ['#мойкаВД', '#автомойка', '#уборка', '#автоуход', '#дача']\n  },\n  {\n    archetype: 'listing spotlight',\n    description: 'профессиональная камера Sony A7 IV сдаётся в аренду за 350 лей/день, подходит для выпускных, свадеб, больших поездок',\n    city: 'Кишинёв',\n    imagePrompt: 'A professional mirrorless camera resting on an open notebook next to a coffee cup, soft window light streaming in, minimalist composition, lifestyle photography',\n    hashtags: ['#камера', '#фотограф', '#фототехника', '#свадьба', '#выпускной', '#путешествие']\n  },\n  {\n    archetype: 'listing spotlight',\n    description: 'квадрокоптер DJI с камерой 4K, аренда ~400 лей/день, для свадеб, съёмки недвижимости, путешествий',\n    city: 'Кишинёв',\n    imagePrompt: 'A small drone hovering low over rolling vineyard hills at golden hour, soft warm sunlight, cinematic landscape photography',\n    hashtags: ['#дрон', '#квадрокоптер', '#аэросъёмка', '#свадебнаяСъёмка', '#фотограф']\n  },\n  {\n    archetype: 'seasonal / topical',\n    description: 'двухместная палатка для походов в горы, покупка ~2200 лей, аренда ~120 лей/день, лето — сезон выходных в горах и фестивалей',\n    city: 'Кишинёв',\n    imagePrompt: 'A small yellow camping tent pitched on a grassy hillside overlooking forested mountains, golden hour summer light, lifestyle outdoor photography',\n    hashtags: ['#палатка', '#туризм', '#поход', '#лето', '#природа', '#кемпинг']\n  },\n  {\n    archetype: 'seasonal / topical',\n    description: 'надувная байдарка для двоих, аренда ~150 лей/день, для летнего сплава по Днестру или озёрам Молдовы',\n    city: 'Кишинёв',\n    imagePrompt: 'Two people paddling a yellow inflatable kayak on a calm river surrounded by green forest, peaceful summer day, lifestyle outdoor photography',\n    hashtags: ['#байдарка', '#сплав', '#Днестр', '#природа', '#активныйОтдых']\n  },\n  {\n    archetype: 'listing spotlight',\n    description: 'горный велосипед хорошего бренда, аренда ~80-150 лей/день, для уикенда в Резервации Кодры или Старом Орхее',\n    city: 'Кишинёв',\n    imagePrompt: 'Mountain bike leaning against a tree on a forest trail covered in autumn leaves, soft sunlight through the canopy, lifestyle outdoor photography',\n    hashtags: ['#горныйВелосипед', '#велосипед', '#спорт', '#Кодры', '#активныйОтдых']\n  },\n  {\n    archetype: 'seasonal / topical',\n    description: 'горнолыжный комплект (лыжи + ботинки), аренда ~150 лей/день, для одной поездки в Карпаты зимой — нет смысла покупать за 5000+ лей',\n    city: 'Кишинёв',\n    imagePrompt: 'Pair of skis and ski boots leaning against a wooden mountain cabin wall, fresh snow on the ground, golden afternoon winter light, lifestyle photography',\n    hashtags: ['#горныеЛыжи', '#лыжи', '#зима', '#Карпаты', '#спорт']\n  },\n  {\n    archetype: 'seasonal / topical',\n    description: 'мощная Bluetooth-колонка JBL для вечеринок и пикников, аренда ~80 лей/день, летом — сезон выходных на природе',\n    city: 'Кишинёв',\n    imagePrompt: 'Small bluetooth speaker on a picnic blanket spread in a sunny park, friends relaxing softly blurred in the background, lifestyle photography',\n    hashtags: ['#колонка', '#вечеринка', '#пикник', '#музыка', '#JBL']\n  },\n  {\n    archetype: 'seasonal / topical',\n    description: 'караоке-система для дня рождения или новогодней вечеринки, аренда ~200 лей/день; покупка такой ~3000 лей и пылится 11 месяцев в году',\n    city: 'Орхей',\n    imagePrompt: 'Microphone and small speaker on a coffee table in a living room with festive string lights, warm evening atmosphere, lifestyle photography',\n    hashtags: ['#караоке', '#вечеринка', '#деньРождения', '#праздник']\n  },\n  {\n    archetype: 'listing spotlight',\n    description: 'вечернее платье для одного мероприятия (свадьба, выпускной), аренда ~200-400 лей/день, покупка такого ~1500-3000 лей',\n    city: 'Кишинёв',\n    imagePrompt: 'Elegant long evening dress hanging on a wooden hanger by a window, soft natural light, minimalist bedroom, fashion lifestyle photography',\n    hashtags: ['#вечернееПлатье', '#платье', '#свадьба', '#выпускной', '#мода']\n  },\n  {\n    archetype: 'money-saving calculation',\n    description: 'домашний проектор, покупка ~5000 лей, аренда ~250 лей/день, для домашнего киновечера или презентации раз в пару месяцев',\n    city: 'Бельцы',\n    imagePrompt: 'Family of three watching a movie projected on a living room wall, dim warm lighting, popcorn on the coffee table, cozy evening, lifestyle photography',\n    hashtags: ['#проектор', '#киновечер', '#домашнееКино', '#презентация']\n  },\n  {\n    archetype: 'money-saving calculation',\n    description: 'мультиварка-скороварка, покупка ~2000 лей, аренда ~100 лей/день, нужна на праздничный ужин для большой компании',\n    city: 'Бельцы',\n    imagePrompt: 'Modern pressure cooker on a kitchen counter next to fresh vegetables and herbs, bright daylight kitchen, lifestyle photography',\n    hashtags: ['#мультиварка', '#скороварка', '#готовка', '#праздничныйУжин', '#кухня']\n  }\n];\n\nconst topic = topics[Math.floor(Math.random() * topics.length)];\n\nreturn [{\n  json: {\n    perspective: 'renter',\n    language: $input.first().json.language,\n    selectedTopic: topic\n  }\n}];"
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Renter pool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Owner perspective — 10 topics. Each has curated hashtags.\n\nconst topics = [\n  {\n    archetype: 'most-rented list',\n    description: 'какие 5 типов вещей чаще всего лежат у людей без дела дома и могут приносить деньги при сдаче в аренду',\n    city: 'Кишинёв',\n    imagePrompt: 'Tidy home storage shelf with a folded tent, a drill, a camera, an evening dress and a childrens scooter neatly arranged, soft daylight, minimalist composition, lifestyle photography',\n    hashtags: ['#заработок', '#вещи', '#пассивныйДоход', '#совместноеПотребление']\n  },\n  {\n    archetype: 'earning potential',\n    description: 'детский самокат или беговел, из которого ребёнок вырос — может приносить 80-150 лей в день вместо того чтобы пылиться',\n    city: 'Кишинёв',\n    imagePrompt: 'A childs blue scooter parked in the corner of a tidy hallway near a front door, soft afternoon light, lifestyle photography',\n    hashtags: ['#детскийСамокат', '#дети', '#беговел', '#ребёнок']\n  },\n  {\n    archetype: 'earning potential',\n    description: 'детское автокресло, из которого ребёнок вырос (но в хорошем состоянии) — приносит 50-100 лей в день; родителям-туристам в Кишинёве часто нужно на пару дней',\n    city: 'Кишинёв',\n    imagePrompt: 'A child safety car seat installed in the back seat of a parked car, sunlight streaming through the window, clean interior, lifestyle photography',\n    hashtags: ['#детскоеАвтокресло', '#дети', '#родители', '#путешествия']\n  },\n  {\n    archetype: 'earning potential',\n    description: 'швейная машинка, которой давно не пользовались — может приносить 80-150 лей в день; часто нужна для подгонки платья или подшивки штор',\n    city: 'Кишинёв',\n    imagePrompt: 'Vintage style sewing machine on a wooden table with neatly folded fabric and scissors, soft natural light through window, lifestyle photography',\n    hashtags: ['#швейнаяМашинка', '#рукоделие', '#ателье', '#заработок']\n  },\n  {\n    archetype: 'earning potential',\n    description: 'фотозона с фоном и реквизитом для дня рождения или корпоратива — то, что у фотографов часто простаивает между съёмками; может приносить 150-300 лей в день',\n    city: 'Кишинёв',\n    imagePrompt: 'A decorated photo backdrop with paper flowers and pastel balloons in a bright event venue, soft evening light, lifestyle photography',\n    hashtags: ['#фотозона', '#праздник', '#свадьба', '#декор', '#фотограф']\n  },\n  {\n    archetype: 'earning potential',\n    description: 'портативная электростанция 1000+ Вт, лежащая после одной поездки — может приносить ~200 лей/день, в кемпинговый сезон спрос высокий',\n    city: 'Бельцы',\n    imagePrompt: 'A portable power station sitting on a wooden camping table with phones charging from it, forest background, soft evening light, lifestyle photography',\n    hashtags: ['#электростанция', '#кемпинг', '#природа', '#туризм']\n  },\n  {\n    archetype: 'earning potential',\n    description: 'вечернее или свадебное платье, надетое один раз и оставленное в шкафу — может приносить 300-400 лей за каждый день аренды; спрос на одно мероприятие большой',\n    city: 'Кишинёв',\n    imagePrompt: 'An elegant white wedding dress hanging in a softly lit closet, mirror reflection visible, lifestyle fashion photography',\n    hashtags: ['#свадебноеПлатье', '#свадьба', '#невеста', '#мода']\n  },\n  {\n    archetype: 'earning potential',\n    description: 'набор фотообъективов, купленный когда-то для одного проекта и теперь пылящийся в ящике — может приносить от 100 до 300 лей в день',\n    city: 'Кишинёв',\n    imagePrompt: 'Several camera lenses arranged neatly on a wooden desk next to an open camera bag, soft natural light, lifestyle photography',\n    hashtags: ['#фотообъективы', '#камера', '#фотограф', '#фототехника']\n  },\n  {\n    archetype: 'stuff in garage',\n    description: 'вещи в гараже или кладовке — дрель, палатка, чемодан для путешествий, праздничные гирлянды — простой обзор того, что можно превратить в доход',\n    city: 'Кишинёв',\n    imagePrompt: 'A tidy garage corner with neatly stored items — a folded tent, a power drill, a travel suitcase, festive lights — soft daylight through a small window, minimalist composition, lifestyle photography',\n    hashtags: ['#гараж', '#вещи', '#кладовка', '#пассивныйДоход']\n  },\n  {\n    archetype: 'most-rented list',\n    description: 'что в Кишинёве сейчас арендуют чаще всего — обзор категорий, где спрос превышает предложение, чтобы владельцы понимали куда смотреть',\n    city: 'Кишинёв',\n    imagePrompt: 'A cozy living room with various items on a coffee table — a camera, a drill, a folded dress and a tablet — afternoon light, minimalist composition, lifestyle photography',\n    hashtags: ['#спрос', '#каталог', '#заработок', '#вещиВАренду']\n  }\n];\n\nconst topic = topics[Math.floor(Math.random() * topics.length)];\n\nreturn [{\n  json: {\n    perspective: 'owner',\n    language: $input.first().json.language,\n    selectedTopic: topic\n  }\n}];"
      },
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Owner pool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Service perspective — 6 topics. STRICT: feature-whitelisted, no fabrication.\n\nconst topics = [\n  {\n    archetype: 'trust: digital contract',\n    description: 'цифровой договор перед каждой арендой — что в нём фиксируется, почему это важно когда передаёшь свою вещь незнакомому человеку',\n    city: 'Молдова',\n    imagePrompt: 'Two hands meeting over a tablet showing a digital contract, clean modern office or cafe setting, soft natural light, lifestyle business photography',\n    hashtags: ['#безопасность', '#цифровойДоговор', '#доверие']\n  },\n  {\n    archetype: 'trust: IDNP verification',\n    description: 'проверка пользователей через IDNP — как Lorent Bloom убеждается, что Вы передаёте вещь реальному человеку, а не анонимному аккаунту',\n    city: 'Молдова',\n    imagePrompt: 'Close-up of a smartphone screen showing an identity verification interface, soft window light, modern minimalist composition, lifestyle photography',\n    hashtags: ['#безопасность', '#IDNP', '#проверкаПользователей', '#доверие']\n  },\n  {\n    archetype: 'mission',\n    description: 'почему мы создали Lorent Bloom — идея в том, что вещи в наших домах должны работать, а не пылиться; платформа возвращает разрыв между покупкой и реальной потребностью',\n    city: 'Молдова',\n    imagePrompt: 'A bright cozy home interior with various rarely-used items on a shelf — a camera, a tent in its bag, a guitar — soft warm light, lifestyle photography',\n    hashtags: ['#разумноеПотребление', '#экология', '#совместноеПотребление', '#sharing']\n  },\n  {\n    archetype: 'category breadth',\n    description: 'в каталоге Lorent Bloom более 50 категорий — от инструментов и фототехники до палаток, музыкальных инструментов и одежды для особых случаев; обзор того, что вообще можно найти',\n    city: 'Молдова',\n    imagePrompt: 'A flat-lay composition of diverse rental items on a wooden surface — drill, camera, tent fabric, evening dress, guitar, espresso cup — soft natural light, lifestyle photography',\n    hashtags: ['#каталог', '#50категорий', '#разнообразие', '#вещиВАренду']\n  },\n  {\n    archetype: 'local presence',\n    description: 'Lorent Bloom работает по всей Молдове — Кишинёв, Бельцы, Кагул, Тирасполь, Комрат; цифровой договор и проверка владельца действуют одинаково в каждом городе',\n    city: 'Молдова',\n    imagePrompt: 'A subtle map-inspired background with soft Moldovan landscape — vineyards and rolling hills at golden hour, atmospheric lifestyle photography',\n    hashtags: ['#всяМолдова', '#Кишинёв', '#Бельцы', '#Кагул', '#Тирасполь', '#Орхей']\n  },\n  {\n    archetype: 'service perks',\n    description: 'что Вы получаете в Lorent Bloom помимо самой аренды: бесплатная первая доставка, чат в приложении с владельцем, поддержка 24/7 если что-то пошло не так',\n    city: 'Молдова',\n    imagePrompt: 'A courier handing a small package to a smiling customer at a residential doorway, soft natural light, lifestyle photography',\n    hashtags: ['#доставка', '#поддержка', '#чат', '#удобство']\n  }\n];\n\nconst topic = topics[Math.floor(Math.random() * topics.length)];\n\nreturn [{\n  json: {\n    perspective: 'service',\n    language: $input.first().json.language,\n    selectedTopic: topic\n  }\n}];"
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "Service pool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build prompts — embeds the multi-language brand-voice system prompt and\n// assembles the Groq request body based on picked topic + perspective + language.\n//\n// IMPORTANT: keep the systemPrompt below in sync with prompts/brand-voice.md\n// (eventually n8n should read the file directly; for now manually synced).\n\nconst perspective = $input.first().json.perspective;\nconst topic = $input.first().json.selectedTopic;\nconst language = $input.first().json.language;\n\n// City names per language. Topic data uses Russian (Cyrillic); we translate\n// on the fly so the user prompt instructs Groq with the right spelling.\nconst cityMap = {\n  'Кишинёв': { ru: 'Кишинёв', ro: 'Chișinău', en: 'Chișinău' },\n  'Бельцы':  { ru: 'Бельцы',  ro: 'Bălți',    en: 'Bălți' },\n  'Кагул':   { ru: 'Кагул',   ro: 'Cahul',    en: 'Cahul' },\n  'Тирасполь': { ru: 'Тирасполь', ro: 'Tiraspol', en: 'Tiraspol' },\n  'Комрат':  { ru: 'Комрат',  ro: 'Comrat',   en: 'Comrat' },\n  'Орхей':   { ru: 'Орхей',   ro: 'Orhei',    en: 'Orhei' },\n  'Молдова': { ru: 'Молдова', ro: 'Moldova',  en: 'Moldova' }\n};\nconst langLabel = { ru: 'Russian', ro: 'Romanian', en: 'English' }[language];\nconst city = (cityMap[topic.city] && cityMap[topic.city][language]) || topic.city;\n\nconst systemPrompt = `You are the content voice for Lorent Bloom (lorentbloom.com), a Moldova-based peer-to-peer rental marketplace. People in Chișinău, Bălți, Cahul, Tiraspol, Comrat and other Moldovan cities use it both to rent items they need short-term (cameras, tools, camping gear, special-occasion clothing) AND to earn money from items they own but rarely use.\n\n# POST PERSPECTIVES\n\nEvery post falls into one of three perspectives. The user prompt tells you which one you're writing for.\n\n- Renter perspective: aimed at people who need to use something short-term. 'You can rent this for X лей instead of buying for Y лей.' Lead with the renter's need or with a specific item + price.\n- Owner perspective: aimed at people whose stuff is sitting unused. 'If you have X at home, it can earn Z лей per day.' Lead with the idle item the reader might own.\n- Service perspective: about Lorent Bloom itself — trust, mission, perks, categories, local presence. Lead with what's genuinely true about the platform. Stay within the FEATURE WHITELIST below.\n\n# MANDATORY RULES (deviating breaks the brand)\n\n1. First sentence MUST name a specific item with a real MDL price or a Moldovan city. Never open with abstract phrasing.\n2. Formality per language:\n   - Russian: 'Вы' must always start with capital В then lowercase ы. Lowercase 'вы' is wrong. ALL-CAPS 'ВЫ' is wrong. Never 'ты'.\n   - Romanian: use 'Dvs.' or 'Dumneavoastră'. Never 'tu'.\n   - English: address the reader as 'you'. Avoid contractions — prefer 'do not' over 'don't', 'cannot' over 'can't', for a formal but warm register.\n3. The brand name 'Lorent Bloom' MUST appear in the post body — written exactly as 'Lorent Bloom', not transliterated. Don't say 'наша платформа' / 'platforma noastră' / 'our platform' — say 'Lorent Bloom' or 'каталог Lorent Bloom' / 'catalogul Lorent Bloom' / 'Lorent Bloom catalog'.\n4. City spelling matches the post language. Never mix scripts inside one post.\n   - Russian: Кишинёв, Бельцы, Кагул, Тирасполь, Комрат (Cyrillic).\n   - Romanian: Chișinău, Bălți, Cahul, Tiraspol, Comrat (Latin with diacritics).\n   - English: Chișinău, Bălți, Cahul, Tiraspol, Comrat (Latin with diacritics).\n5. End with a short observation that lands — not a generic save-money CTA. Don't copy verbatim from the examples below; write your own.\n6. Use real MDL prices. No vague qualifiers.\n   - Russian: '3 500 лей', '150 лей в день'.\n   - Romanian: '3 500 lei', '150 lei pe zi'.\n   - English: '3,500 MDL' or '3,500 lei', '150 MDL/day' or '150 lei/day'.\n7. No emojis of any kind. Plain text only.\n8. Length: 80–150 words.\n9. Grammar must be correct in the target language. Watch case agreement, agreement, verb forms.\n\n# FEATURE WHITELIST (especially for Service posts)\n\nWhen writing about Lorent Bloom as a service, you may ONLY claim these features. Do NOT invent anything else:\n\n- P2P rental of physical items\n- 50+ categories\n- Digital contract per rental\n- Verified users (IDNP)\n- In-app chat\n- 24/7 support\n- Free first delivery\n- Operating in: Chișinău, Bălți, Cahul, Tiraspol, Comrat\n- Currency: MDL (Moldovan Leu)\n\n# BANNED CONTENT (all perspectives, all languages)\n\nNEVER include these:\n- Invented user counts ('тысячи пользователей', 'mii de utilizatori', 'thousands of users', 'X людей доверяют нам')\n- Invented transaction stats ('Y аренд в месяц', 'Z deals completed')\n- Fictional testimonials ('Мария из Кишинёва сказала...', 'Maria from Chișinău said...')\n- Superlatives without proof ('самый безопасный', 'cel mai sigur', 'the safest', 'лучший в Молдове', 'best in Moldova')\n- Insurance or replacement guarantees (not a real feature)\n- Vague volume claims ('тысячи людей', 'часто арендуют', 'lots of people rent')\n- Functional walkthroughs ('зарегистрируйтесь за 5 шагов', 'sign up in 5 steps', 'click the button')\n\nIf you cannot say something concretely true and on the whitelist, do not say it.\n\n# FORBIDDEN PHRASES (generic AI marketing tells — applies in all 3 languages)\n\n- 'С помощью нашей платформы' / 'With our platform' / 'Cu ajutorul platformei noastre' → use 'В Lorent Bloom' / 'In Lorent Bloom' / 'În Lorent Bloom'\n- 'часто возникает необходимость' / 'frequently arises the need' / 'apare adesea necesitatea'\n- 'Это разумное решение для тех, кто...' / 'This is a smart solution for those who...'\n- 'Это поможет Вам сэкономить' / 'This will help you save'\n- 'успейте' / 'don't miss out' / 'nu ratați', 'ограниченное предложение' / 'limited offer'\n- ALL CAPS headlines, clickbait, hashtags inside the body\n\n# EXAMPLES (study for tone — do NOT copy phrases verbatim)\n\nGOOD opener (ru): 'Перфоратор средней мощности в магазине Кишинёва — около 3 500 лей.'\nGOOD opener (en): 'A mid-power rotary hammer in a Chișinău store costs about 3,500 lei.'\nGOOD opener (ro): 'Un perforator de putere medie într-un magazin din Chișinău costă cam 3 500 lei.'\nBAD opener: 'В Кишинёве часто возникает необходимость использования перфоратора.' / 'In Chișinău, the need for a rotary hammer often arises.'\n\nGOOD closing patterns (write your OWN in this spirit):\n  - 'Покупают вещи на годы. Используют — на часы.'\n  - 'They buy things for years. They use them for hours.'\n  - 'Cumpără lucruri pentru ani. Le folosesc pentru ore.'\nBAD closing: 'This is a smart solution for everyone who wants to save.'\n\n# VOICE TEXTURE\n\n- Lead with a concrete object, not the benefit.\n- Problem first, solution second.\n- Hold both sides of the marketplace when natural (renters + owners).\n- 'Smart and rational' positioning, not 'bargain hunter'.\n- Trust through specifics, not adjectives. Don't invent features.\n\n# OUTPUT FORMAT\n\nReturn only the post text in the requested language. No commentary, no headlines, no labels, no 'Here is the post:'. Just the post. Paragraph breaks via blank lines are fine. Keep under 900 characters.`;\n\nconst userPrompt = `Perspective: ${perspective}\nArchetype: ${topic.archetype}\nTopic: ${topic.description}\nLanguage: ${langLabel} — write the ENTIRE post in ${langLabel}. The topic description above is in Russian for our internal reference; translate the idea into ${langLabel} with correct grammar, idiom, and the per-language formality rule.\nCity to reference: ${city}\n\nWrite ONE post in the ${perspective} perspective, following all mandatory rules and the feature whitelist. Vary the structure from previous outputs — do not reuse phrases from the example posts verbatim.\n\nIf the topic mentions multiple items (e.g. \"drill, tent, suitcase\"), pick ONE and stay with it for the entire post — do not jump between items mid-post.`;\n\nreturn [{\n  json: {\n    perspective,\n    language,\n    selectedTopic: topic,\n    requestBody: {\n      model: 'llama-3.3-70b-versatile',\n      temperature: 1.0,\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];"
      },
      "id": "cccccccc-cccc-cccc-cccc-cccccccccccc",
      "name": "Build prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Groq chat completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Deterministic post-validation. Universal checks (brand name, length,\n// emoji, CJK) run for every language. Russian-specific style checks\n// (Вы/ВЫ/вы/ты, forbidden phrases, mixed Latin city names) only run on\n// language === 'ru'. For ro/en, we also check that no stray Cyrillic\n// characters leaked into the body.\n//\n// If anything fails, builds a regenRequestBody = original conversation +\n// assistant draft + user message listing the issues. IF node branches on\n// _validate.passed.\n\nconst content = $input.first().json.choices[0].message.content;\nconst requestBody = $('Build prompts').first().json.requestBody;\nconst perspective = $('Build prompts').first().json.perspective;\nconst language = $('Build prompts').first().json.language;\n\nconst issues = [];\n\n// ─── Universal checks (all languages) ───\n\n// 1. Brand name must appear, written exactly as 'Lorent Bloom'\nif (!content.includes('Lorent Bloom')) {\n  issues.push('Brand name \"Lorent Bloom\" missing from the post — it must appear in the body, exactly as \"Lorent Bloom\" (not transliterated).');\n}\n\n// 2. Length (target 80-150, tolerate 60-200)\nconst wordCount = content.trim().split(/\\s+/).filter(w => w.length > 0).length;\nif (wordCount < 60) issues.push(`Too short: ${wordCount} words (target 80-150, minimum 60).`);\nif (wordCount > 200) issues.push(`Too long: ${wordCount} words (target 80-150, max 200).`);\n\n// 3. Emoji forbidden in any language\nconst emojiPattern = /[\\u{1F300}-\\u{1FAFF}\\u{2600}-\\u{27BF}\\u{1F000}-\\u{1F02F}\\u{1F0A0}-\\u{1F0FF}\\u{1F100}-\\u{1F1FF}\\u{1F200}-\\u{1F2FF}\\u{2700}-\\u{27BF}\\u{2B50}\\u{2B55}\\u{2705}\\u{274C}]/u;\nif (emojiPattern.test(content)) {\n  issues.push('Emoji detected — brand voice forbids ALL emojis (decorative or functional). Use plain text.');\n}\n\n// 4. CJK / foreign script token leak (Llama bug — '找到', '挂', etc.)\nconst cjkPattern = /[一-鿿぀-ヿ]/;\nif (cjkPattern.test(content)) {\n  issues.push('Foreign script characters (Chinese/Japanese) detected — likely Llama token leak. Use only the target language alphabet.');\n}\n\n// ─── Russian-only checks ───\n\nif (language === 'ru') {\n  // Lowercase 'вы'\n  const lowerVyPattern = /(^|[\\s,.;:!?\\-—«\"])вы(\\s|[,.;:!?\\-—»\"])/;\n  if (lowerVyPattern.test(content)) {\n    issues.push('Lowercase \"вы\" detected — formal address must always be capitalized \"Вы\" (capital В then lowercase ы).');\n  }\n  // ALL-CAPS 'ВЫ'\n  if (/(^|[\\s,.;:!?\\-—«\"])ВЫ(\\s|[,.;:!?\\-—»\"])/.test(content)) {\n    issues.push('ALL-CAPS \"ВЫ\" detected — should be \"Вы\" (capital В then lowercase ы).');\n  }\n  // Informal 'ты'\n  if (/(^|[\\s,.;:!?\\-—«\"])ты(\\s|[,.;:!?\\-—»\"])/i.test(content)) {\n    issues.push('Informal \"ты\" detected — brand voice requires formal \"Вы\" throughout, never \"ты\".');\n  }\n\n  // Forbidden Russian phrases\n  const forbidden = [\n    { rx: /С помощью нашей платформы/i, name: '\"С помощью нашей платформы\" (use \"В Lorent Bloom\" instead)' },\n    { rx: /часто возникает необходимость/i, name: '\"часто возникает необходимость\" (open with a concrete fact instead)' },\n    { rx: /многие сталкиваются с/i, name: '\"многие сталкиваются с\"' },\n    { rx: /Это разумное решение для тех/i, name: '\"Это разумное решение для тех...\"' },\n    { rx: /Это поможет (Вам|вам) сэкономить/i, name: '\"Это поможет Вам сэкономить\"' },\n    { rx: /(^|\\s)успейте/i, name: '\"успейте\" (no urgency cliches)' },\n    { rx: /не упустите/i, name: '\"не упустите\"' },\n    { rx: /ограниченное предложение/i, name: '\"ограниченное предложение\"' },\n    { rx: /тысячи (пользователей|людей)/i, name: '\"тысячи пользователей/людей\" (no fabricated stats)' },\n    { rx: /самый безопасный/i, name: '\"самый безопасный\" (no unprovable superlatives)' },\n    { rx: /лучший в Молдове/i, name: '\"лучший в Молдове\" (no unprovable superlatives)' },\n    { rx: /наша платформа/i, name: '\"наша платформа\" (use \"Lorent Bloom\" instead)' },\n    { rx: /многие пользователи/i, name: '\"многие пользователи\" — implied user count without basis' },\n    { rx: /около \\d+\\s*лей в день/i, name: '\"около X лей в день\" — vague price, use a specific number tied to a real item' },\n    { rx: /безделушк[аи]/i, name: '\"безделушки\" — dismissive of real items; use specific item names' }\n  ];\n  for (const { rx, name } of forbidden) {\n    if (rx.test(content)) issues.push(`Forbidden phrase: ${name}`);\n  }\n\n  // Mixed-script in ru post: Latin city names are wrong\n  const latinCities = ['Chișinău', 'Bălți', 'Cahul', 'Tiraspol', 'Comrat'];\n  for (const lc of latinCities) {\n    if (content.includes(lc)) {\n      issues.push(`Mixed script: \"${lc}\" (Latin) in a Russian post — use Cyrillic equivalent.`);\n    }\n  }\n}\n\n// ─── Romanian-only checks ───\n\nif (language === 'ro') {\n  // Stray Cyrillic in a Latin-script post\n  if (/[Ѐ-ӿ]/.test(content)) {\n    issues.push('Cyrillic characters detected in a Romanian post — write entirely in Latin script with Romanian diacritics.');\n  }\n  // 'tu' as informal you (light check — bounded by spaces to reduce false positives)\n  if (/(^|[\\s,.;:!?\\-—«\"])tu(\\s|[,.;:!?\\-—»\"])/.test(content)) {\n    issues.push('Informal \"tu\" detected — brand voice requires formal \"Dvs.\" / \"Dumneavoastră\", never \"tu\".');\n  }\n}\n\n// ─── English-only checks ───\n\nif (language === 'en') {\n  // Stray Cyrillic in a Latin-script post\n  if (/[Ѐ-ӿ]/.test(content)) {\n    issues.push('Cyrillic characters detected in an English post — write entirely in Latin script.');\n  }\n  // Contractions — flag the common ones for the formal register\n  const contractions = [/\\bdon't\\b/i, /\\bcan't\\b/i, /\\bwon't\\b/i, /\\bit's\\b/i, /\\byou're\\b/i, /\\bthey're\\b/i, /\\bwe're\\b/i];\n  for (const rx of contractions) {\n    if (rx.test(content)) {\n      issues.push(`Contraction \"${content.match(rx)[0]}\" — formal register prefers the expanded form (do not, cannot, will not, it is, you are, they are, we are).`);\n      break;\n    }\n  }\n}\n\nconst passed = issues.length === 0;\nlet regenRequestBody = null;\n\nif (!passed) {\n  const fixInstruction = `The draft you just wrote has these brand-voice issues:\n\n${issues.map((iss, i) => `${i + 1}. ${iss}`).join('\\n')}\n\nRewrite the post fixing EVERY issue. Keep the same topic, perspective (${perspective}), language (${language}), and approximate length. Output ONLY the corrected post — no commentary, no labels, no \"Here is the corrected post:\".`;\n\n  regenRequestBody = {\n    ...requestBody,\n    messages: [\n      ...requestBody.messages,\n      { role: 'assistant', content },\n      { role: 'user', content: fixInstruction }\n    ]\n  };\n}\n\nreturn [{\n  json: {\n    choices: $input.first().json.choices,\n    _validate: {\n      passed,\n      issues,\n      wordCount,\n      language,\n      regenRequestBody\n    }\n  }\n}];"
      },
      "id": "dddddddd-dddd-dddd-dddd-dddddddddddd",
      "name": "Validate output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._validate.passed }}",
              "rightValue": "={{ false }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eeeeeeee-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "Needs regeneration?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._validate.regenRequestBody) }}",
        "options": {}
      },
      "id": "ffffffff-ffff-ffff-ffff-ffffffffffff",
      "name": "Regenerate with feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        300
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "12121212-1212-1212-1212-121212121212",
      "name": "Merge text branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2360,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudflare.com/client/v4/accounts/REPLACE_WITH_ACCOUNT_ID/ai/run/@cf/black-forest-labs/flux-1-schnell",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $('Build prompts').item.json.selectedTopic.imagePrompt, num_steps: 8 }) }}",
        "options": {}
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Cloudflare image generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Convert Cloudflare's base64 image response into n8n binary data.\n// 2. Build the full Telegram caption: post text + URL + language-aware hashtags.\n//\n// Hashtag composition (language-aware):\n//   ALWAYS: #LorentBloom\n//   BRAND TAG: ru → #АрендаМолдова, ro → #ÎnchirieriMoldova, en → #RentMoldova\n//   PERSPECTIVE TAG (per language):\n//     renter: ru #АрендуйВМолдове / ro #ÎnchiriazăÎnMoldova / en #RentInMoldova\n//     owner:  ru #СдайВАренду     / ro #DăÎnChirie         / en #EarnRenting\n//     service: (no perspective tag — covered by brand tags)\n//   TOPIC TAGS: 2 random picks from the topic's curated pool (ru only).\n//     For ro/en the curated tags are Russian, so we fall back to #Moldova.\n\nconst base64 = $input.first().json.result.image;\n\nif (!base64) {\n  throw new Error('Cloudflare AI returned no image. Full response: ' + JSON.stringify($input.first().json));\n}\n\n// Final text from whichever Groq branch produced it (original or regenerated).\nconst text = $('Merge text branches').first().json.choices[0].message.content;\nconst perspective = $('Build prompts').first().json.perspective;\nconst topic = $('Build prompts').first().json.selectedTopic;\nconst language = $('Build prompts').first().json.language;\n\nconst hashtags = ['#LorentBloom'];\n\n// Per-language brand tag\nconst brandTag = {\n  ru: '#АрендаМолдова',\n  ro: '#ÎnchirieriMoldova',\n  en: '#RentMoldova'\n}[language];\nhashtags.push(brandTag);\n\n// Per-language perspective tag (action-oriented; service has none)\nconst perspectiveTags = {\n  renter:  { ru: '#АрендуйВМолдове', ro: '#ÎnchiriazăÎnMoldova', en: '#RentInMoldova' },\n  owner:   { ru: '#СдайВАренду',     ro: '#DăÎnChirie',           en: '#EarnRenting' },\n  service: null\n};\nconst ptag = perspectiveTags[perspective] && perspectiveTags[perspective][language];\nif (ptag) hashtags.push(ptag);\n\n// Topic-specific tags: only for ru (the curated pool is in Russian).\n// For ro/en, add #Moldova as a generic locale tag.\nif (language === 'ru') {\n  const topicTags = topic.hashtags || [];\n  const shuffled = [...topicTags].sort(() => Math.random() - 0.5);\n  hashtags.push(...shuffled.slice(0, Math.min(2, shuffled.length)));\n} else {\n  hashtags.push('#Moldova');\n}\n\nconst captionText = text + '\\n\\nhttps://lorentbloom.com\\n\\n' + hashtags.join(' ');\n\nreturn [{\n  json: {\n    perspective,\n    language,\n    topic,\n    captionText,\n    hashtagsUsed: hashtags\n  },\n  binary: {\n    image: {\n      data: base64,\n      mimeType: 'image/png',\n      fileName: 'generated.png'\n    }\n  }\n}];"
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Decode image to binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        400
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendPhoto",
        "chatId": "REPLACE_WITH_YOUR_CHAT_ID",
        "binaryData": true,
        "binaryPropertyName": "image",
        "additionalFields": {
          "caption": "={{ $json.captionText }}",
          "appendAttribution": false
        }
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3020,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://catbox.moe/user/api.php",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "reqtype",
              "value": "fileupload"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileToUpload",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "cabb1111-cabb-cabb-cabb-cabb11111111",
      "name": "Upload to Catbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1045539025319874/photos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Upload to Catbox').first().json.data, caption: $('Decode image to binary').first().json.captionText }) }}",
        "options": {}
      },
      "id": "fbfbfbfb-fbfb-fbfb-fbfb-fbfbfbfbfbfb",
      "name": "FB Page post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/17841444641846440/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_url: $('Upload to Catbox').first().json.data, caption: $('Decode image to binary').first().json.captionText }) }}",
        "options": {}
      },
      "id": "ig111111-ig11-ig11-ig11-ig1111111111",
      "name": "IG create container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/17841444641846440/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ creation_id: $json.id }) }}",
        "options": {}
      },
      "id": "ig222222-ig22-ig22-ig22-ig2222222222",
      "name": "IG publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3460,
        700
      ]
    }
  ],
  "connections": {
    "When clicking Test workflow": {
      "main": [
        [
          {
            "node": "Pick language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick perspective": {
      "main": [
        [
          {
            "node": "Switch by perspective",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by perspective": {
      "main": [
        [
          {
            "node": "Renter pool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Owner pool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Service pool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renter pool": {
      "main": [
        [
          {
            "node": "Build prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Owner pool": {
      "main": [
        [
          {
            "node": "Build prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service pool": {
      "main": [
        [
          {
            "node": "Build prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build prompts": {
      "main": [
        [
          {
            "node": "Groq chat completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq chat completion": {
      "main": [
        [
          {
            "node": "Validate output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate output": {
      "main": [
        [
          {
            "node": "Needs regeneration?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs regeneration?": {
      "main": [
        [
          {
            "node": "Regenerate with feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge text branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Regenerate with feedback": {
      "main": [
        [
          {
            "node": "Merge text branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge text branches": {
      "main": [
        [
          {
            "node": "Cloudflare image generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudflare image generation": {
      "main": [
        [
          {
            "node": "Decode image to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode image to binary": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to Catbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick language": {
      "main": [
        [
          {
            "node": "Pick perspective",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Catbox": {
      "main": [
        [
          {
            "node": "FB Page post",
            "type": "main",
            "index": 0
          },
          {
            "node": "IG create container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG create container": {
      "main": [
        [
          {
            "node": "IG publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}